APP_NAME="Comandas Mobile PHP"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=America/Sao_Paulo

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=192.168.254.205
DB_PORT=5432
DB_DATABASE=metabase_prod
DB_USERNAME=postgres
DB_PASSWORD="sua_senha_aqui"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

PASTA_REDE=C:\WRPDV\serverun\Exp\pv
CLIENTE_PADRAO=113727
UNIDADE_PADRAO=001
DEPARTAMENTOS=027,029
MONITOR_INTERVALO=5

CORS_ORIGIN=*
